* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #474747;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.crud {
  width: 80%;
  margin: auto;
}
.fill {
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px #333;
  position: relative;
}
.fill::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-text-fill-color: #ff5722;
  transition: 0.5s;
  width: 0;
  overflow: hidden;
}
.fill:hover::before {
  width: 100%;
}
.head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}
.head h2 {
  margin: 10px 0;
}
.head p {
  margin: 15px 0;
}
input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background: #2a2929;
  margin: 4px 0;
  border-radius: 4px;
  padding: 4px;
  color: #fff;
  transition: 0.5s ease;
}
input::placeholder {
  color: #cecbcb;
}
input:focus {
  background: #ffffff;
  transform: scale(1.1);
  color: #000;
}
.price input {
  width: 20%;
}
#total {
  background: #0c3e1c;
  padding: 5px 2px;
  border-radius: 4px;
}
#total::before {
  content: "Total: ";
}
button {
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  background: #0c3e1c;
  color: #fff;
  border-radius: 20px;
  transition: 0.5s ease;
}
button:hover {
  background: #0e4921;
  letter-spacing: 1px;
}
.btnSearch button {
  width: 45%;
}
.btnSearch {
  display: flex;
  justify-content: space-between;
}
#deleteAll {
  margin: 20px 0;
}
table {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
table th {
  text-transform: uppercase;
}
th,
td {
  padding: 5px;
}
